@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

/* ---------------- THEME ---------------- */
@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: "DM Sans", sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/BG.png");
}

/* ---------------- BASE ---------------- */
@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-0.01em] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply relative min-h-screen bg-primary;
  }

  header {
    @apply mt-5 sm:mt-10;
  }

  header img {
    @apply mx-auto h-auto w-full max-w-lg object-contain drop-shadow-md;
  }
}

/* ---------------- COMPONENTS ---------------- */
@layer components {
  .pattern {
    @apply absolute z-0 h-screen w-full bg-hero-pattern bg-cover bg-center;
  }

  .wrapper {
    @apply relative z-10 mx-auto flex max-w-7xl flex-col px-5 py-12 xs:p-10;
  }

  .trending {
    @apply mt-20;
  }

  .trending ul {
    @apply -mt-10 flex w-full flex-row gap-5 overflow-y-auto hide-scrollbar;
  }

  .trending ul li {
    @apply flex min-w-[230px] flex-row items-center;
  }

  .trending ul li p {
    @apply fancy-text mt-[22px] text-nowrap;
  }

  .trending ul li img {
    @apply -ml-3.5 h-[163px] w-[127px] rounded-lg object-cover;
  }

  .search {
    @apply mx-auto mt-10 w-full max-w-3xl rounded-lg bg-light-100/5 px-4 py-3;
  }

  .search div {
    @apply relative flex items-center;
  }

  .search img {
    @apply absolute left-2 h-5 w-5;
  }

  .search input {
    @apply w-full bg-transparent py-2 pl-10 pr-10 text-base text-gray-200 placeholder-light-200 outline-none;
  }

  .all-movies {
    @apply space-y-9;
  }

  .all-movies ul {
    @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
  }

  .movie-card {
    @apply rounded-2xl bg-dark-100 p-5 shadow-inner shadow-light-100/10;
  }

  .movie-card img {
    @apply h-auto w-full rounded-lg;
  }

  .movie-card h3 {
    @apply line-clamp-1 text-base font-bold text-white;
  }

  .movie-card .content {
    @apply mt-2 flex flex-row flex-wrap items-center gap-2;
  }

  .movie-card .rating {
    @apply flex flex-row items-center gap-1;
  }

  .movie-card .rating img {
    @apply size-4 object-contain;
  }

  .movie-card .rating p {
    @apply text-base font-bold text-white;
  }

  .movie-card .content span {
    @apply text-sm text-gray-100;
  }

  .movie-card .content .lang,
  .movie-card .content .year {
    @apply text-base font-medium text-gray-100;
  }
}

/* ---------------- UTILITIES ---------------- */
@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-family: "Bebas Neue", sans-serif;
  font-size: 190px;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
  display:none;
}
